@model QLPhongKham.Models.Service

@{
    ViewData["Title"] = "Chi tiết Dịch vụ";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Chi tiết Dịch vụ</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Tên dịch vụ:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-3">Mô tả:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                        <dt class="col-sm-3">Giá dịch vụ:</dt>
                        <dd class="col-sm-9">@string.Format("{0:N0} VNĐ", Model.Price)</dd>

                        <dt class="col-sm-3">Thời gian thực hiện:</dt>
                        <dd class="col-sm-9">
                            @if (Model.Duration.HasValue)
                            {
                                @Model.Duration.Value <text>phút</text>
                            }
                            else
                            {
                                <em>Không xác định</em>
                            }
                        </dd>

                        <dt class="col-sm-3">Trạng thái:</dt>
                        <dd class="col-sm-9">
                            @if (Model.IsActive)
                            {
                                <span class="badge badge-success">Đang hoạt động</span>
                            }
                            else
                            {
                                <span class="badge badge-secondary">Ngừng hoạt động</span>
                            }
                        </dd>
                    </dl>

                    <div class="form-group">
                        <a asp-action="Edit" asp-route-id="@Model?.ServiceId" class="btn btn-warning">
                            <i class="fas fa-edit"></i> Chỉnh sửa
                        </a>
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Quay lại danh sách
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
